@media (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .index-content {
    display: block;
  }
  .twitter_timeline {
    margin-top: 15%;
    text-align: center;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    margin-top: 3%;
    align-items: center;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .index-content {
    display: block;
  }

  .twitter_timeline {
    margin-top: 15%;
    text-align: center;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    margin-top: 1rem;
    align-items: center;
  }

  .about-me div{
    height: auto;
    width: 90vw;
    padding: 10%;
  }
  
}