.header-component {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    padding: 40px 40px;
    height: 20%;
    align-self: center;
    @media only screen and (max-width: 425px) {
        width: 100%;
        padding: 40px 20px;
    }
    .header-list {    
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-left-side {
            font-weight: bold;
        }
        .header-item {
            margin-left: 1rem;
            display: inline-block;
            position: relative;
            &:first-child {
                margin-left: 0;
            }
            &::after {
                content: '';
                display: block;
                margin: auto;
                height: 3px;
                width: 0;
                background: transparent;
                transition: width .5s ease;
            }
            &:hover {
                cursor: pointer;
                &::after {
                    width: 100%;
	                background: #CF5050;
                }
            }
        }
        a {
            margin-left: 1rem;
        }
        .theme-icon {
            cursor: pointer;
        }
    }
}