@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './styles/media.query.scss';

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 

.index-content {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5%;
}


.profile{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 5%;
  margin-bottom: 5%;
  img {
    border-radius: 50%;
    width:100px;
    margin-bottom: 10px;
  }
  p{
    color:white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    margin-top: 15px;
    line-height: 15px;
    font-family: 'Roboto', sans-serif;
  }
}

.skills {
  h3{
    color:white;
    i {
      margin-right: 3%;
    }
  }
  .skill-progress {
    display: grid;
    grid-template-columns: 30px 1fr 20px;
    grid-column-gap: 20px;
    img{
      height:30px;
      background-color: black;
      border-radius: 50%;
    }
    i{
      font-size: 28px;
    }
    p{
      color:orange;
      font-weight: bold;
    }
  }
  
}

.content {
  display: flex;
  flex-direction: row;
}

.icons{
  flex:1;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  i {
    font-size: 48px;
    transition: all 0.1s ease-out;
    &:hover{
      cursor: pointer;
      font-size: 50px;
    }
  }
}