@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px orange; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orangered; 
}

html{
  margin: 0;
  padding: 0;
}

body {
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 

.index{
  display: flex;
  flex-direction: column;
  
  .index-content {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
    height:auto;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 20px;
    .profile-image {
      img {
        height:100px;
        width:100px;
        border-radius: 50%;
      }
    }
    .profile-info{
      i{
        color:white;
        margin-left: 10px;
      }

      img {
        height:50px;
        width:50px;
      }

      p{
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
        color:orange;
        font-size: 25px;
        font-weight: bold;
        line-height: 15px;
      }
    }
    .profile-slo{
      p {
        color:wheat;
        font-family: 'Roboto Slab', serif;
        margin:0;
        padding: 0;
      }
    }
  }        
}


.content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  .icons{
    flex:1;
    display: flex;
    justify-content: space-around;
    .not-active {
      text-decoration: none;
      color: black;
      font-size: 48px;
      transition: all 0.1s ease-out;
      &:hover{
        cursor: pointer;
        font-size: 50px;
      }
    }
  }
  .about-me{
    flex:1;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    p {
      color:white;
      font-size: 20px;
    }
  }
}

// .twitter_timeline{
// }


.skills{
  position: relative;
  h3 {
    i{
      margin-right:50px;
      color:orange;
    }
  }

  .skill-progress {
    display: grid;
    grid-gap: 10px 2em;
    grid-template-columns: 50px 1fr 50px;
    i {
      font-size: 30px;
    }
    p{
      color: orange;
      font-weight: bold;
    }
    img {
      height:35px;
      width:35px;
    }

  }

  .follow-me{
    position: absolute;
    top:80%;
    right:35%;
    text-align: center;
    i{
      font-size: 40px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

